// Here you can add other styles
.question-table table, thead {
  position: sticky;
  top: 0px;
}

.stickyTable table {
  border-collapse: separate;
  border-spacing: 0px 0.5px;
  position: relative;

}

.stickyTableBody table,
tbody {
  background-color: rgb(255, 255, 255);
}

.table-responsive > div:nth-of-type(2){
  max-height: 55vh;
  overflow-y: auto;
}

#createQuestionTextArea {
  max-height: 30vh;
  overflow-y: auto;
  font-size: large;
}

.studentAccount table, thead{
  background-color: #636f83;
  color: white;
}

.studentAccount table, td{
  background-color: white;
}

.contestIntroArea{
  background-color: #636f83;
  color: white;
}

.contestStartTime div{
  background-color: #636f83;
  color: white;
}

.contestEndTime div{
  background-color: #636f83;
  color: white;
}
