// Here you can add other styles

.studentAccount table, thead{
  background-color: #636f83;
  color: white;
}

.studentAccount table, td{
  background-color: white;
}

.contestIntroArea{
  background-color: #636f83;
  color: white;
}

.contestStartTime div{
  background-color: #636f83;
  color: white;
}

.contestEndTime div{
  background-color: #636f83;
  color: white;
}
